@import url('https://fonts.googleapis.com/css?family=Rubik');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body, App, #root {
    width: 100%;
    height: 100%;
}

.buttons {
    display: flex;
    justify-content:center;
}


/*__Bot찾o s처lido verde __*/
.primary-button {
    margin: 0.5em;    
    padding: 0.8em 2em;
    border-radius: 40px; 
    border-style: solid;
    font-family: 'Rubik', sans-serif;
    font-size: 12px;
    font-weight: 500;
    text-decoration: none;
    border-color: #61d988;
    background-color: #61d988;
    color: #fff;
}

/*__Bot찾o s처lido cinza __*/

.secundary-button {
    margin: 0.5em;    
    padding: 0.8em 2em;
    border-radius: 40px; 
    border-style: solid;
    font-family: 'Rubik', sans-serif;
    font-size: 12px;
    font-weight: 500;
    text-decoration: none;
    border-color: #d0d1d5;
    background-color: #d0d1d5;
    color: #fff;
}

