<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="pedido-header.css">
    <link href="https://fonts.googleapis.com/css?family=Quicksand:400,500,700" rel="stylesheet" rel="stylesheet">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <article class="information">
        <div class="information-label">
            <h4 class="information-label__name">Eurotech Mottors, LCC</h4>
            <h5 class="information-label__description">555 Water Tower Court<br>Holland, MI 49242</h5>
        </div>
        <div class="information-label">
            <p class="information-label__caps align--right">estimate # 188801934<br>progress code 3110556</p>
        </div>
    </article>
    <article class="information">
        <div class="information-label">
            <h5 class="information-label__description">Prepared for</h5>
            <h4 class="information-label__name">Jake Montgomery</h4>
        </div>
        <div class="information-label"> 
            <h5 class="information-label__description align--right">Vehicle</h5>
            <h4 class="information-label__name align--right">2010 Mini Cooper S<br>Miles:31.209<br>VIN: 000193HHAAO1I345</h4>
        </div> 
    </article>
</body>
</html>