*{
   padding: 0;
   margin: 0; 
   box-sizing: border-box;
}
.information-label__name{
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    font-size: 1rem;
    color: black;
}
.information-label__description{
    font-family: 'Quicksand', sans-serif;
    font-size: 0.8rem;
    color:#929499;
}
.information-label__caps{
    font-family: 'Quicksand', sans-serif;
    font-size: 0.9rem;
    font-weight: 500;
    color: black;
    text-transform: uppercase;
}
.information-label{
    display: flex;
    flex-direction: column;
}
.information{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 5.5rem;
    align-items: center;
}
.align--right{
    text-align: right;
}