html body {
    margin: 0;
    width: 100%;
    font-family: 'Quicksand', sans-serif;

}

.hero {
    padding: 1rem 3rem 0 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-size: 100%; 
    background-color: #61d988;
    color: #fff;
}

.hero__text {
    font-size: 1.2rem;
    text-align: center
}

.hero__logo {
    max-width: 13rem;
    max-height: 8rem;
    width: auto;
    height: auto;     
}

.hero__phone {
    padding-top: 1rem;
    max-width: 15rem;
    max-height: 20rem;
    width: auto;
    height: auto;
}

@media (min-width: 768px) {

    .hero {
        padding: 1.3rem 1rem 0 1.5rem;
        flex-direction: row;
        align-items: flex-start;
    }

    .hero__title {
        margin: 1rem 2rem 0.5rem 0;
    }

    .hero__logo {
        max-width: 20rem;
        max-height: 15rem;
    }

    .hero__text {
        margin: 0;
        padding: 0 8rem 1.5rem 1rem;
        font-size: 2rem;
        text-align: left;
    }

    .hero__phone {
        padding-top: 2rem;
        max-width: 20rem;
        max-height: 25rem;
    }
}

@media (min-width: 992px) {

    .hero__title {
        margin: 5rem 1rem 0.5rem 0;
    }

    .hero__text {
        padding: 0 6rem 1.5rem 1rem;
    }

    .hero__phone {
        padding: 0;
        max-width: 25rem;
        max-height: 30rem;
    }

}

@media (min-width: 1200px) {

    .hero { 
        justify-content: space-around;
    }

    .hero__title {
        margin: 5rem 1rem 0.5rem 2rem;
        max-width: 50%;
    }

    .hero__logo {
        max-width: 23rem;
        max-height: 20rem;
    }

    .hero__phone {
        padding-right: 2rem;
    }
}