/*Footer*/
    .footer {
        display: flex;
        justify-content: center;       
        height: 4rem;
        background-color: #2b3342;
    }
    .footer__text {
        align-self: center;
        color: #81838c;
    }

    @media (min-width: 768px) {
    /*Footer*/
    .footer {
        justify-content: flex-start;
    }
    .footer__text { 
        margin-left: 2rem;
     }
}

@media (min-width: 1024px) {
    /*Footer*/
    .footer__text { 
         margin-left: 4rem;
    }
}
@media(min-width:2560px){
    /*Footer*/
    .footer__text { 
         margin-left: 6rem;
     }

}